<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base th:href="${#request.getContextPath()}+'/'">
    <link rel="stylesheet" href="static/layui/css/layui.css"  media="all">
</head>
<style>
    .searchdiv{
        background: #fff;
        border-radius: 6px;margin-top: 10px;
        box-shadow: 1px 1px 3px rgba(0,0,0,.2);
        padding: 10px;
    }
    .layui-layer-shade{
        background-color:unset !important;
    }
</style>

<body style="background-color: #f3f3f4;">
    <div class="searchdiv">
        <form class="layui-form" id="searhFrom">
            <div class="layui-row layui-form-item">

                <div class="layui-col-xs3">
                    <label class="layui-form-label">username: </label>
                    <div class="layui-input-block">
                        <input type="text" name="username" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-xs3" style="padding-left:20px; ">
                    <button type="button" class="layui-btn" id="btn_query">query</button>
                </div>
            </div>
        </form>
    </div>

    <div class="searchdiv">
        <button class="layui-btn layui-btn-normal" id="addInfo">add</button>
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>


    <div id="addModel" style="display: none">
        <form class="layui-form" id="addform" style="padding: 15px 30px 15px 0px;" action="">

            <div class="layui-form-item">
                <label class="layui-form-label">username:</label>
                <div class="layui-input-block">
                    <input type="text" name="username" lay-verify="required" placeholder="Pls enter information"  class="layui-input" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">password:</label>
                <div class="layui-input-block">
                    <input type="text" name="password" lay-verify="required" placeholder="Pls enter information"  class="layui-input" >
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="addSubmit">submit</button>
                    <button type="reset" class="layui-btn layui-btn-primary">reset</button>
                </div>
            </div>
        </form>
    </div>


    <div id="editModel" style="display: none">
        <form class="layui-form" id="editform" style="padding: 15px 30px 15px 0px;" action="">

            <input type="hidden" name="id" id="id">

            <div class="layui-form-item">
                <label class="layui-form-label">username:</label>
                <div class="layui-input-block">
                    <input type="text" name="username" lay-verify="required" class="layui-input" id="username" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">password:</label>
                <div class="layui-input-block">
                    <input type="text" name="password" lay-verify="required" class="layui-input" id="password" >
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="editSubmit">submit</button>
                    <button type="reset" class="layui-btn layui-btn-primary">reset</button>
                </div>
            </div>
        </form>
    </div>


<script type="text/html" id="barDemo">
<a class="layui-btn layui-btn-xs" lay-event="edit">edit</a>
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">delete</a>
</script>

<script src="static/layui/layui.all.js" charset="utf-8"></script>
<script>

    !function(){
        var table = layui.table;
        var $ = layui.jquery,layer = layui.layer;
        var form = layui.form;



        var tableIns = table.render({
            elem: '#test'
            ,height: 500
            ,where: {}
            ,url: '/admin/list'
            ,page: true
            ,cols: [
                [
                    {field: 'username', title: 'username', fixed: 'center'},
                    {field: 'password', title: 'password', fixed: 'center'},
                    {field: 'createTime', title: 'time', fixed: 'center'},
                    {fixed: 'right', title:'operation', width:230, toolbar: '#barDemo'}
                ]
            ]
        });


        $("#btn_query").click(function(){
            tableIns.reload({
                where:{

                      username:$("input[name=username]").val(),
                      password:$("input[name=password]").val(),
                },page: {
                    curr: 1
                }
            })
        });


        var editwindow ;
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                top.layer.confirm('real delete?', function(index){
                    $.ajax({
                        url:"/admin/del",
                        type:"post",
                        data:{id:data.id},
                        success:function(data){
                            if(data.ret){
                                obj.del();
                                parent.layer.close(index);
                                parent.layer.msg("successful!")
                            }
                        }
                    })

                });
            } else if(obj.event === 'edit'){

                $.ajax({
                    url: '/admin/edit?id='+data.id,
                    type: "get",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success:function(res){
                        editwindow = layer.open({
                            type:1,
                            area: ['500px', '450px'],
                            content:$("#editModel"),
                            success: function() { }
                        });
                        document.getElementById("id").value = res.id;
                        document.getElementById("username").value = res.username;
                        document.getElementById("password").value = res.password;
                        layui.form.on('submit(editSubmit)', function(data){
                            $.ajax({
                                url:"/admin/edit",
                                type:"post",
                                dataType:"json",
                                data: $("#editform").serialize(),
                                success:function(data){
                                    parent.layer.msg(data.msg);
                                    if(data.ret){
                                        layer.close(editwindow);
                                        tableIns.reload({
                                            where: {}
                                            ,page: {
                                                curr: 1
                                            }
                                        });
                                    }
                                }
                            });
                        });
                    },
                    error:function(){
                        layer.msg('fail',{icon:0,time:3000});
                    }
                });

            }
        });


        var addModel;
        $("#addInfo").click(function(){
            addModel = layer.open({
                type: 1,
                area: ['500px', '550px'],
                content: $('#addModel'),
                success:function(){
                    layui.form.render();
                }
            });
        });


        layui.form.on('submit(addSubmit)', function(data){
            $.ajax({
                url:"/admin/add",
                type:"post",
                dataType:"json",
                data: $("#addform").serialize(),
                success:function (data) {
                    if(data.ret){
                        parent.layer.msg("successful!");
                        layer.close(addModel);
                        tableIns.reload({
                            where: {}
                            ,page: {
                                curr: 1
                            }
                        });
                    }else{
                        parent.layer.msg(data.msg)
                    }
                    window.location.href='/admin/admin';
                },error:function(data){
                    parent.layer.msg("ERROR");
                }
            })
            return false;
        });

    }();
</script>
</body>

</html>
